<div class="error">
{{error}}
</div>

<form id = 'fileForm' method = 'post' class="form-horizontal" role="form" enctype="multipart/form-data">
  <div class="form-group">
  	<h1 style= "text-align: center"> Add a Lamppost </h1>

  	<div class="form-group">
	   <label class="control-label col-sm-2" for="lamppostImage">Upload Image:</label>
	    <div class="col-sm-10">
      <input id ="fInput" type="file" name="lamppostImage" accept="image/*">
	    </div>
  	</div>

    <label class="control-label col-sm-2" for="country">Country:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="country" id="country" placeholder="Country">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="state">State:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="state" id="state" placeholder="State">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="city">City:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name= 'city' id="city" placeholder="City">
    </div>
   </div>

   <div class="form-group">
    <label class="control-label col-sm-2" for="address">Address:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name='address' id="address" placeholder="Address">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="key">Submission Key:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name='key' id="key" placeholder="Submission Key">
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

<script type="text/javascript">
  
  var fileForm = $("#fileForm");

  function
   sendFileWhenDone(fileData){

    $.ajax({
      type: "POST",
      data: fileData,
      processData: false,
      contentType: false,
      success: function(JSONsentFromServer){

        if (JSONsentFromServer.success){
          console.log("[Message]", JSONsentFromServer.redirect);
          window.location = JSONsentFromServer.redirect;
        }
      },
      error: function(resp, errorSentFromServer){
        console.log("[Error]", errorSentFromServer);
        $(".error").text(errorSentFromServer);
      }
    })
   }

   fileForm.on("submit",function(evt){
    evt.preventDefault();

    console.log($("#fInput"))

    var fileFormElement = fileForm[0];

    var fileInput = $("#fInput");
    console.log("fileInput", fileInput);

    var file = fileInput[0].files[0];

    fd = new FormData();

    fd.append("lamppostImage", file);

    sendFileWhenDone(fd);

   })
</script>





